* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
  
body {
  background: lightblue;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.container {
  background-color: #fafafa;
  border-radius: 14px;
  margin: 14px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
  
.header {
  background: #2d5966;
  padding: 24px;
  text-align: center;
  color: #fff;
}
  
.form {
  padding: 18px;
}
  
.form-content {
  margin-bottom: 20px;
  position: relative;
}
  
.form-content label {
  display: inline-block;
  margin-bottom: 4px;
}
  
.form-content input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #dfdfdf;
}
  
.error-message {
  color: #ff3b25;
  visibility: hidden;
  font-size: 12px;
}
  
.form button {
  background-color: #2d5966;
  color: #fff;
  width: 100%;
  border-radius: 14px;
  padding: 12px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}
  
.form-content.error input {
  border-color: #ff3b25;
}
  
.form-content.error .error-message {
  visibility: visible;
}
  
.cadastrar {
  text-align: center;
  padding: 0 0 20px 0;
}

.cadastrar p {
  padding: 50px 0 20px 0;
}

.cadastrar button {
  background-color: #2d5966;
  color: #fff;
  width: 50%;
  border-radius: 14px;
  padding: 12px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}