body {
    background-color: lightblue;
}

.container {

}

.colunas {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.coluna-1 {
    width: 25%;
    padding-left: 5vh;
}

.perfil {
    background-color: #ffffff;
    border-radius: 15px;
}

.foto-perfil {
    padding: 20px 0 0 0;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 80%;
    border-radius: 15px;
}

.legenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding: 20px 0 20px 0;
}

.legenda p {
    padding-top: 10px;
    font-size: 16px;
}

.financeiro {
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-top: 30px;
    height: 400px;
    background-color: #ffffff;
    padding: 20px 0 20px 0;
    border-radius: 15px;
}

.coluna-2 {
    width: 65%;
    padding-right: 5vh;
}

.consultas {
    height: 40%;
    background-color: #ffffff;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.exames {
    height: 40%;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px 0 20px 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

nav a.active {
    border-bottom: 2px solid #007bff;
}