body {
    max-width: 1368px;
    background-color:lightblue
}

.about {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para as seções individuais */
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.about-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.about-text {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.about-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-image img {
        margin-bottom: 20px;
    }

    .about-text {
        padding: 10px;
    }
}