* {
    text-decoration: none;
}

html {
    background-color:lightblue;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.imagem-1 {
    display: flex;
    justify-content: center;
}

.imagem-1 img {
    margin: 70px 0 0 0;
    width: 900px;
    max-height: 500px;
    background-position: center;
    border-radius: 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    font-size: 20px;
}

.intro-2 {
    font-size: 20px;
    padding-left: 20px;
}

.imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 40px 0px;
    padding: 0 0 0 0;
} 

.imagem-2 {
    display: flex;
    justify-content: center;
}

.imagem-2 img {
    margin: 40px 0 0 0;
    width: 300px;
    max-height: 200px;
    background-position: center;
    border-radius: 30px;
}

.conte-conosco {
    font-weight: bold;
    text-align: left;
    justify-content: left;
    color: blue;
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0 0 0 0;
    font-size: 20px;
}

.servicos h2 a {
    text-decoration: none;
    color: black;
}

.nossos-servicos {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px 0 30px;
}

.exames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
}

.exames img {
    width: 300px;
    max-height: 200px;
    background-position: center;
    padding-bottom: 20px;
    border-radius: 30px;
}

.obstetricia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
}

.obstetricia img {
    width: 400px;
    max-height: 200px;
    background-position: center;
    padding-bottom: 10px;
    border-radius: 30px;
}

.consultoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
}

.consultoria img {
    width: 300px;
    max-height: 200px;
    background-position: center;
    padding-bottom: 20px;
    border-radius: 30px;
}

.testes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo-h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.testes-conteudo {
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    justify-content: space-between;
    padding-top: 40px;
}

.teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; 
}

.teste p {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.teste a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.teste a:hover {
    color: #007bff;
}

.imagem-teste {
    width: 100%; 
    height: auto;
    max-width: 300px; 
    margin-right: 20px; 
    border-radius: 30px;
}

.servicos h2 a:hover {
    text-decoration: underline;
}

.mais-lidos {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.titulo-h2 {
    text-align: center; 
    margin-bottom: 0px; 
    font-size: 24px; 
    color: #333; 
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px; 
}

.artigos-mais-lidos {
    display: flex;
    justify-content: space-between; 
    margin-top: 40px; 
    margin-left: 20px; 
    margin-right: 20px; 
    text-align: center; 
}

.artigos-mais-lidos article {
    width: calc(33.33% - 10px); 
}

.artigos-mais-lidos h3 {
    margin-top: 0px; 
    margin-bottom: 0px;
    font-size: 18px; 
    text-align: center; 
}

.artigos-mais-lidos h4 {
    margin-top: 0px; 
    margin-bottom: 0px;
    font-size: 14px; 
    text-align: center; 
}

.artigos-mais-lidos a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.artigos-mais-lidos a:hover {
    color: #007bff;
}

.imagem-responsiva {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.servicos-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
    font-size: 20px;
}

.servicos-2 h2 a {
    text-decoration: none;
    color: black;
}

.imagens-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 150px 40px 150px;
    padding: 0 0 0 0;
} 

.imagem-2 {
    display: flex;
    justify-content: center;
}

.imagem-responsiva {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

nav a.active {
    border-bottom: 2px solid #007bff;
}

.botao-agendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    border-radius: 30px;
}

.gradient-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(to right, #599fad, #ff5757); 
    border: none;
    transition: background 0.3s ease-in-out;
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #599fad, #ff5757;
    box-shadow: 0 0 10px #ecf0ea
}

.gradient-button:hover {
    background: linear-gradient(to right, #ff5757, #599fad); 
}

