html {
  background-color: #599fad
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(255, 252, 254);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}


ul {
  padding-left: 5px;
  list-style-type: none;
  display: flex;
}

li {
  padding-left: 16px;
}

nav {
  font-size: 16px;
  
}

nav ul li { 
  padding-left: 16px;
  list-style-type: none;
}

.container {
  display: flex;
  align-items: center;

}



div .container{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-left: 80px;
  align-items: center;
  grid column-gap: 7px;

}

section div::after {
  display: flex;
  justify-content: center
  paiding: 16px;
  gap: 20px;
}

footer {
  padding: 16px;

}

h3 {
  padding: 16px;
  margin-bottom: 16px;
}

h4 {
  padding-bottom: 16px;
  margin-left: 16px;
}
section {
  margin-top: 20px;
}
