body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw; /* Ajuste a largura em relação à largura da janela */
}


header {
    display: flex;
    padding: 5px 30px 0px 30px; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    background: #599fad;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.48);
}

header a {
    cursor: pointer;
}

#logo {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: center; 
    margin-bottom: 20px 0px 0px 0px; 
    max-width: 100%;
}

#logo img {
    width: 200px; 
    height: auto; 
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

#nome_clinica {
    margin-top: 5px; 
    margin-bottom: 0px;
    font-size: 32px;
}


#menu-navegacao {
    display: flex;
    text-align: center;
    align-items: center;
    background: linear-gradient(to bottom, #f9f9f9, #e5e5e5); 
    border-radius: 5px;
    padding: 10px;
}

.item-menu {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: none;
    margin: 0 20px; 
    transition: color 0.3s ease, border-bottom-color 0.3s ease; 
    text-align: center; 
}

.item-menu:hover, .item-menu:focus {
    color: #007bff;
    border-bottom-color: #007bff;
    transform: scale(1.1);
}

#color {
    background-color: 1286C8;
}
